<%- include('partials/header') %>

<body>
    <div>
        <img class="logo" src="images/logo.png" alt="logo">
    </div>
    <div class="container-fluid main">
        <div class="container-fluid contents">

            <h1 class="titleText">Student Details</h1>
            <h4 style="opacity: 80%;">Guard Result Page</h4>
            <form class="form-2" method="post" action="/guardResult">
                <table class="table">
                    <tbody>
                        <tr>
                            <td>
                                <div class="mb-3">
                                    <label class="form-label">Name</label>
                                    <h2>
                                        <%= studentName %>
                                    </h2>
                                </div>
                            </td>
                            <td style="width: 400px;">
                                <div class="mb-3">
                                    <label class="form-label">UID</label>
                                    <h2>
                                        <%= uidData %>
                                    </h2>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="mb-3">
                                    <label class="form-label">Mobile No</label>
                                    <h2>
                                        <%= mobileNo %>
                                    </h2>
                                </div>
                            </td>
                            <td style="width: 400px;">
                                <div class="mb-3">
                                    <label class="form-label">Guiardian's No</label>
                                    <h2>
                                        <%= gurdianNo %>
                                    </h2>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="mb-3">
                                    <label class="form-label">Purpose</label>
                                    <h2>
                                        <%= purposeData %>
                                    </h2>
                                </div>
                            </td>
                            <td style="width: 400px;">
                                <div class="mb-3">
                                    <label class="form-label">Place</label>
                                    <h2>
                                        <%= placeData %>
                                    </h2>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="mb-3">
                                    <label class="form-label">Out Time</label>
                                    <h2>
                                        <%= timeData %>
                                    </h2>
                                </div>
                            </td>
                            <td style="width: 400px;">
                                <div class="mb-3">
                                    <label class="form-label">Date</label>
                                    <h2>
                                        <%= dateData %>
                                    </h2>
                                </div>
                            </td>
                        </tr>
                        <tr>
                            <td>
                                <div class="mb-3">
                                    <label class="form-label">Hostel Name</label>
                                    <h2>
                                        <%= hostelName %>
                                    </h2>
                                </div>
                            </td>
                            <td style="width: 400px;">
                                <div class="mb-3">
                                    <label class="form-label">Room No</label>
                                    <h2>
                                        <%= roomNo %>
                                    </h2>
                                </div>
                            </td>
                        </tr>

                    </tbody>
                </table>

                <div class="buttonClass">
                    <input type="hidden" name="nameData" value="<%= studentName %>" />
                    <input type="hidden" name="uidData" value="<%= uidData %>" />
                    <input type="hidden" name="mobileNo" value="<%= mobileNo %>" />
                    <input type="hidden" name="gurdianNo" value="<%= gurdianNo %>" />
                    <input type="hidden" name="hostelName" value="<%= hostelName %>" />
                    <input type="hidden" name="roomNo" value="<%= roomNo %>" />
                    <input type="hidden" name="wardenData" value=<%= wardenData %> />
                    <input type="hidden" name="purposeData" value=<%=purposeData %>/>
                    <input type="hidden" name="placeData" value=<%=placeData %>/>
                    <input type="hidden" name="timeData" value=<%=timeData %>/>
                    <input type="hidden" name="dateData" value=<%=dateData %>/>

                    <button class="btn btn-success" style="background-color: green;" id="result-last-button"
                        type="submit" name="button" value="success">Verrify</button>
                    <button class="btn btn-danger" id="result-last-button" type="submit" name="button" value="failure">Reject</button>

            </form>

        </div>
    </div>

</body>

</html>